/* font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  /* colors  */
  --accentColor: hsl(347, 74%, 61%);
  --accentDarkColor: rgba(255, 255, 255, 0.9);
  --neutralColor: hsl(0, 0%, 15%);
  --neutralDarkColor: hsla(0, 0%, 15%, 0.6);
  --bgColor: rgba(229, 84, 115, 0.1);
  --bgColor2: rgba(39, 39, 39, 0.05);
  --bgColor3: rgba(229, 84, 115, 0.5);
  --bgFlower1: rgba(167, 33, 98, 0.15);
  --bgFlower2: rgba(5, 151, 160, 0.15);
  --bgFlower3: rgba(71, 125, 17, 0.15);
  /* Typo */
  --bigFont: 5rem;
  --bigFontLite: 2.5rem;
  --mdFont: 2rem;
  --mdFontLite: 1.75rem;
  --smFont: 1.5rem;
  --smFontLite: 1.25rem;
  --baseFont: 1rem;
  --baseFontFamily: "Lato", sans-serif;
}

/* Reset  */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}
body {
  font-family: var(--baseFontFamily);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3 {
  text-wrap: wrap;
  padding-bottom: var(--baseFont);
  line-height: 1.15em;
}
h2 {
  font-size: var(--bigFontLite);
  font-weight: 700;
}
p {
  line-height: 1.875rem; /* 166.667% */
  text-wrap: pretty;
  padding-bottom: var(--baseFont);
}
button {
  outline: none;
  border: none;
  padding: var(--smFontLite) var(--bigFontLite);
  cursor: pointer;
  border-radius: 0.5rem;
}

/* NAV SECTION */
#navbar {
  background-color: var(--bgColor);
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_primary {
  background-color: var(--accentColor);
}
.btn_primary a {
  color: white;
  font-weight: 700;
  font-size: var(--smFontLite);
  letter-spacing: 0.15rem;
}

.heading {
  font-size: var(--bigFont);
  font-weight: 700;
  max-width: 44.25rem;
}
.nav_content p {
  font-size: var(--smFontLite);
  max-width: 39.625rem;
  color: var(--neutralDarkColor);
}
.nav_img {
  max-width: calc(39.68rem + 3.12rem);
  /* width: 39.68rem; */
  padding-top: 3.12rem;
}
/* <!-- Featured Scetion --> */
#featured {
  margin-top: 10rem;
}

.featured_text p {
  font-size: var(--smFontLite);
  max-width: 37.125rem;
  text-align: center;
  margin: auto;
  color: var(--neutralDarkColor);
  margin-bottom: 3rem;
}

.featured_text p,
h2 {
  text-align: center;
  width: 100%;
}
.featured_content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.featured_content h3 {
  padding: 2rem 0;
  text-align: center;
  font-size: var(--smFont);
  padding-right: 0.95rem;
}
.featured_content_img {
  max-width: 29rem;
}
.featured_content_img img {
  max-width: 100%;
  padding: 6.85rem 4.75rem 0 4.75rem;
}
.featured_content .pink {
  background-color: var(--bgFlower1);
  border-radius: 18.75rem 18.75rem 0rem 0rem;
}
.sky img {
  padding: 7.3rem 2.94rem 3.2rem 2.94rem;
}
.featured_content .sky {
  background-color: var(--bgFlower2);
  border-radius: 18.75rem 18.75rem 0rem 0rem;
}
.featured_content .gray {
  background-color: var(--bgFlower3);
  border-radius: 18.75rem 18.75rem 0rem 0rem;
}
/* Span Color dlower */
.pinkClr {
  background-color: var(--accentColor);
}
.redClr {
  background-color: hsla(0, 79%, 60%, 0.904);
}
.yellowClr {
  background-color: rgba(255, 255, 27, 0.973);
}
.featured_content span {
  letter-spacing: 0.25rem;
}
/* more */
.main_featured {
  background-color: var(--bgColor2);
  /* background-color: aqua; */
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  padding: 5rem 0 9rem 0;
}
.main_featured img {
  max-width: 5.5rem;
  /* max-width: 100%; */
}
.main_featured .feature1 h3,
.feature2 h3,
.feature3 h3 {
  padding-top: 1.5rem;
  text-align: center;
  /* padding-bottom: 5.45rem; */
}
#deal {
  margin-top: 8rem;
}
.deal_section {
  background-color: var(--bgColor);
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0.5rem;
}
.deal_content p {
  font-size: var(--smFontLite);
  max-width: 37.125rem;
  color: var(--neutralDarkColor);
}
.deal_img {
  padding: 6.25rem 0;
  max-width: 19.875rem;
}
.deal_img img {
  max-width: 100%;
}
.deal_btn {
  text-align: center;
  width: auto;
  margin: auto;
}
/* <!-- Instagram Section --> */
.insta_text {
  display: block;
  width: 37.125rem;
  margin: auto;
  margin-top: 8rem;
}
.insta_text p {
  font-size: var(--smFontLite);
  color: var(--neutralDarkColor);
  text-align: center;
}
.insta_images{
     display: flex;
     justify-content: center;
     gap: 2rem;
     margin-top: 3rem;
}
.insta_img{
     max-width: 21.375rem;
}
.insta_img img{
     max-width: 100%;
}